################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/google-shopping-scrapper/v16/.suo
/google-shopping-scrapper/bin/Debug
/google-shopping-scrapper/obj/Debug
/packages
